<?xml version="1.0" encoding="UTF-8" ?>
<robot name="mbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find robot_gazebo)/description/base/base_interface.xacro" />
    <xacro:include filename="$(find robot_gazebo)/description/sensor/sensor_link/sensor_link.xacro" />
    <xacro:include filename="$(find robot_gazebo)/description/sensor/lidar/rplidar/rplidar.xacro" />

    <!--接口说明(函数变量)
        base_radius    车体半径，建议值0.2
        base_length    车体厚度，建议值0.16
        base_clearance 车体离地间隙，建议值0.03
        wheel_radius   驱动轮半径，建议值0.06  
        wheel_length   驱动轮厚度，建议值0.025

        接口说明(缺省变量)
        wheel_offsety  驱动轮相对于base_link的y方向偏置，建议值0.00
        caster_offsetx 从动轮相对于base_link的x方向偏置，建议值0.02
        base_mass      base的质量，建议值20
        wheel_mass     驱动轮的质量，建议值2
        caster_mass    从动轮的质量，建议值0.5
    -->
    <base_interface base_radius="0.2" base_length="0.16" base_clearance="0.03" wheel_radius="0.06" wheel_length="0.025"/>

    <!--接口说明(函数变量)
        prefix      sensor_link前缀
        base_length 车体厚度，建议值0.16
        postion_x   sensor_link底部相对于base平面中心的x方向坐标
        postion_y   sensor_link底部相对于base平面中心的y方向坐标  
        postion_z   sensor_link底部相对于base平面中心的z方向坐标，亦为sensor_link长度,建议值大于0，0会报错

        接口说明(缺省变量)
        sensor_link_radius sensor_link的半径，建议值0.01
    -->
    <sensor_link prefix="laser"  base_length="0.16" postion_x="0.1" postion_y="0" postion_z="0.05"/>

    <!--接口说明(函数变量)
        postion_z   laser底部相对于base平面中心的z方向坐标，建议值大于0，0会报错
        rotation_r  laser底部相对于base平面中心的roll
        rotation_p  laser底部相对于base平面中心的pitch
        rotation_y  laser底部相对于base平面中心的yaw

        接口说明(缺省变量)
        laser_length      laser_link的长度
        visualize         laser的可视化，建议true
        update_rate       laser的频率，建议5.5
        min_angle         激光数据的最小角度，建议-3
        max_angle         激光数据的最大角度，建议3
        min_range         激光数据的最小距离，建议0.1
        max_range         激光数据的最大距离，建议6.0
        noise_mean        激光数据的高斯噪声均值，建议0.0
        noise_sttdev      激光数据的高斯噪声方差，建议0.01
    -->
    <xacro:rplidar postion_z="0.05" rotation_r="0" rotation_p="0" rotation_y="0" /> 

</robot>
